{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <h1>{{ 'Newsman' }} <p style="font-weight: bold;">{{ message|nl2br}} </p></h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% if isOauth %}
    <div id="contentOauth" style="margin: 20px;">
        <!--oauth step-->
       {% if oauthStep == 1 %}
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="newsman_oauth" value="Y" />
            <input type="hidden" name="step" value="1" />
            <table class="form-table newsmanTable newsmanTblFixed newsmanOauth">
                <tr>
                    <td>
                        <p class="description"><b>Connect your site with NewsMAN for:</b></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="description">- Subscribers Sync</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="description">- Ecommerce Remarketing</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="description">- Create and manage forms</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="description">- Create and manage popups</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p class="description">- Connect your forms to automation</p>
                    </td>
                </tr>
            </table>
            <div style="padding-top: 5px;">
                <a style="background: #ad0100" href="{{ oauthUrl }}"
                    class="button button-primary btn btn-primary">Login with NewsMAN</a>
            </div>
        </form>
        <!--List step-->
        {% elseif oauthStep == 2 %}
        <form method="post" enctype="multipart/form-data">
            <input type="hidden" name="oauthstep2" value="Y" />
            <input type="hidden" name="step" value="1" />
            <input type="hidden" name="creds" value="{{ creds|e('html_attr') }}" />
            <table class="form-table newsmanTable newsmanTblFixed newsmanOauth">
                <tr>
                    <td>
                        <select name="newsman_list" id="">
                            <option value="0">-- select list --</option>
                            {% for l in dataLists %}
                                <option value="{{ l.id }}">
                                    {{ l.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            </table>

            <div style="padding-top: 5px;">
                <button type="submit" style="background: #ad0100" class="button button-primary btn btn-primary">Save</a>
            </div>
        </form>

    </div>
    {% endif %}
    {% else %}

    <div class="container">
        <div class="col-md-5">
            <div class="form-group">
                <form method="post" id="newsman_form">
                    <div>
                        <label>User Id</label>
                        <input type="text" name="userid" placeholder="user id" value="{{ userid }}"
                               class="form-control"/>
                        <label>Api Key</label>
                        <input type="text" name="apikey" placeholder="api key" value="{{ apikey }}"
                               class="form-control"/>
                        <label for="allowAPI">Allow API access to (Orders, Products, Customers, Subscribers)</label>
                        <input id="allowAPI" type="checkbox" name="allowAPI" class="form-control" {{ allowAPI }}/>
                        <input type="submit" name="newsmanSubmit" value="Save" class="btn btn-primary">
                    </div>
                    <div>
                        <label>List</label>
                        <select name="list" class="form-control">
                            {{ list }}
                        </select>
                        <input type="submit" name="newsmanSubmitSaveList" value="Save List" class="btn btn-primary">
                    </div>
                    <div style="padding-top: 15px;">
                        <label>Segment</label>
                        <select name="segment" class="form-control">
                            {{ segment }}
                        </select>
                        <input type="submit" name="newsmanSubmitSaveSegment" value="Save Segment" class="btn btn-primary">
                    </div>
                    <div>
                        <label style="width: 100%;">(Import customers subscribed to newsletter)</label>
                        <input type="submit" name="newsmanSubmitList" value="Import" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <b>CRON:</b>
            <p>{yoursiteurl}/index.php?route=extension/module/newsman&cron=true</p>
        </div>
    </div>

    {% endif %}
</div>
{{ footer }}
